body {
        margin: 0;
        background: linear-gradient(to bottom, #81d4fa, #b3e0f7);  
}

 .image {
        position: relative; /* Add this line to position the image container */
        width: 100px;
}

.image__img {
        display: block;
        width: 20%; /* Adjust the width to your desired size */
        height: auto; /* Let the height adjust proportionally to the width */
}

 .image__overlay {
        position: absolute;
        top: 30%;
        left: 10%;
        transform: translate(-50%, -50%);
        width: 10%; /* Adjust the width as needed */
        height: 10%; /* Adjust the height as needed */
        background: rgba(0, 0, 0, 0); /* Adjust the alpha value for the background color */
        color: black;
        font-family: 'Times New Roman', Times, serif;
        font-size: medium;
        text-decoration: underline;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: opacity 0.25s;
        opacity: 0; /* Start with 0 opacity to hide the overlay initially */
}
    
.image__title {
        font-size: larger;
        font-weight: bolder;
        color: red;
}

 .image__overlay:hover {
        opacity: 1;
}
.image__description{
    font-size: 1.25em;
    margin-top: 0.25em;
}

#_________________________________________________________________________

.tomato_image {
    position: relative; /* Add this line to position the image container */
    width: 100%;
}

.image__tomato__img {
    display: block;
    width: 20%; /* Adjust the width to your desired size */
    height: auto; /* Let the height adjust proportionally to the width */
}

.image__tomato_overlay {
    position: absolute;
    top: 68%;
    left: 10%;
    transform: translate(-50%, -50%);
    width: 10%; /* Adjust the width as needed */
    height: 10%; /* Adjust the height as needed */
    background: rgba(0, 0, 0, 0); /* Adjust the alpha value for the background color */
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    text-decoration: underline;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity 0.25s;
    opacity: 0; /* Start with 0 opacity to hide the overlay initially */
}

.image__tomato_title {
    font-size: larger;
    font-weight: bolder;
    color: red;
}

.image__tomato_overlay:hover {
    opacity: 1;
}

.image__tomato_description{
    font-size: .95em;
    margin-top: 0.25em;
}

#_________________________________________________________________________

.avocado_image {
    position: relative; /* Add this line to position the image container */
    width: 100%;
}

.image__avocado__img {
    display: block;
    width: 20%; /* Adjust the width to your desired size */
    height: auto; /* Let the height adjust proportionally to the width */
}

.image__avocado_overlay {
    position: absolute;
    top: 107%;
    left: 10%;
    transform: translate(-50%, -50%);
    width: 10%; /* Adjust the width as needed */
    height: 10%; /* Adjust the height as needed */
    background: rgba(0, 0, 0, 0); /* Adjust the alpha value for the background color */
    color: red;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity 0.25s;
    opacity: 0; /* Start with 0 opacity to hide the overlay initially */
}

.image__avocado_title {
    font-size: larger;
    font-weight: bolder;
    color: red;
}

.image__avocado_overlay:hover {
    opacity: 1;
}

.image__avocado_description{
    font-size: .95em;
    margin-top: 0.25em; 
}

    #_________________________________________________________________________

    .bacon_image {
        position: relative; /* Add this line to position the image container */
        width: 100%;
    }
    
    .image__bacon__img {
        display: block;
        width: 20%; /* Adjust the width to your desired size */
        height: auto; /* Let the height adjust proportionally to the width */
    }
    
    .image__bacon_overlay {
        position: absolute;
        top: 145%;
        left: 10%;
        right: 8%;
        transform: translate(-50%, -50%);
        width: 10%; /* Adjust the width as needed */
        height: 10%; /* Adjust the height as needed */
        background: rgba(0, 0, 0, 0); /* Adjust the alpha value for the background color */
        color: black;
        font-family: 'Times New Roman', Times, serif;
        font-size: medium;
        font-weight: bolder;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: opacity 0.25s;
        opacity: 0; /* Start with 0 opacity to hide the overlay initially */
    }
    
    .image__bacon_title {
        font-size: larger;
        font-weight: bolder;
        color: red;
    }
    
    .image__bacon_overlay:hover {
        opacity: 1;
    }
    
    .image__bacon_description{
        font-size: 1.25em;
        margin-top: 0.25em; 
    }

    #_________________________________________________________________________

    .cheese_image {
        position: relative; /* Add this line to position the image container */
        width: 100%;
    }
    
    .image__cheese__img {
        display: block;
        width: 20%; /* Adjust the width to your desired size */
        height: auto; /* Let the height adjust proportionally to the width */
    }
    
    .image__cheese_overlay {
        position: absolute;
        top: 180%;
        left: 10%;
        right: 8%;
        transform: translate(-50%, -50%);
        width: 10%; /* Adjust the width as needed */
        height: 10%; /* Adjust the height as needed */
        background: rgba(0, 0, 0, 0); /* Adjust the alpha value for the background color */
        color: black;
        font-family: 'Times New Roman', Times, serif;
        font-size: medium;
        font-weight: bolder;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: opacity 0.25s;
        opacity: 0; /* Start with 0 opacity to hide the overlay initially */
    }
    
    .image__cheese_title {
        font-size: larger;
        font-weight: bolder;
        color: black;
    }
    
    .image__cheese_overlay:hover {
        opacity: 1;
    }
    
    .image__cheese_description{
        font-size: 1.25em;
        margin-top: 0.25em; 
    }

    #_________________________________________________________________________

    .grilledChicken_image {
        position: relative; /* Add this line to position the image container */
        width: 100%;
    }
    
    .image__grilledChicken__img {
        display: block;
        width: 20%; /* Adjust the width to your desired size */
        height: auto; /* Let the height adjust proportionally to the width */
    }
    
    .image__grilledChicken_overlay {
        position: absolute;
        top: 210%;
        left: 10%;
        transform: translate(-50%, -50%);
        width: 10%; /* Adjust the width as needed */
        height: 10%; /* Adjust the height as needed */
        background: rgba(0, 0, 0, 0); /* Adjust the alpha value for the background color */
        color: white;
        font-family: 'Times New Roman', Times, serif;
        font-size: medium;
        font-weight: bolder;
        text-decoration: underline;
        display: flex;
        text-decoration: solid;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: opacity 0.25s;
        opacity: 0; /* Start with 0 opacity to hide the overlay initially */
    }
    
    .image__grilledChicken_title {
        font-size: larger;
        font-weight: bolder;
        color: white;
    }
    
    .image__grilledChicken_overlay:hover {
        opacity: 1;
    }
    
    .image__grilledChicken_description{
        font-size: 1.25em;
        margin-top: 0.25em; 
    }

    #_________________________________________________________________________

    .ham_image {
        position: relative; /* Add this line to position the image container */
        width: 100%;
    }
    
    .image__ham__img {
        display: block;
        width: 20%; /* Adjust the width to your desired size */
        height: auto; /* Let the height adjust proportionally to the width */
    }
    
    .image__ham_overlay {
        position: absolute;
        top: 250%;
        left: 10%;
        transform: translate(-50%, -50%);
        width: 10%; /* Adjust the width as needed */
        height: 10%; /* Adjust the height as needed */
        background: rgba(0, 0, 0, 0); /* Adjust the alpha value for the background color */
        color: black;
        font-family: 'Times New Roman', Times, serif;
        font-size: medium;
        font-weight: bolder;
        text-decoration: underline;
        display: flex;
        text-decoration: solid;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: opacity 0.25s;
        opacity: 0; /* Start with 0 opacity to hide the overlay initially */
    }
    
    .image__ham_title {
        font-size: larger;
        font-weight: bolder;
        color: black;
    }
    
    .image__ham_overlay:hover {
        opacity: 1;
    }
    
    .image__ham_description{
        font-size: 1.25em;
        margin-top: 0.25em; 
    }

    #_________________________________________________________________________

    .lettuce_image {
        position: relative; /* Add this line to position the image container */
        width: 100%;
    }
    
    .image__lettuce__img {
        display: block;
        width: 20%; /* Adjust the width to your desired size */
        height: auto; /* Let the height adjust proportionally to the width */
    }
    
    .image__lettuce_overlay {
        position: absolute;
        top: 290%;
        left: 10%;
        transform: translate(-50%, -50%);
        width: 10%; /* Adjust the width as needed */
        height: 10%; /* Adjust the height as needed */
        background: rgba(0, 0, 0, 0); /* Adjust the alpha value for the background color */
        color: black;
        font-family: 'Times New Roman', Times, serif;
        font-size: medium;
        font-weight: bolder;
        text-decoration: underline;
        display: flex;
        text-decoration: solid;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: opacity 0.25s;
        opacity: 0; /* Start with 0 opacity to hide the overlay initially */
    }
    
    .image__lettuce_title {
        font-size: larger;
        font-weight: bolder;
        color: black;
    }
    
    .image__lettuce_overlay:hover {
        opacity: 1;
    }
    
    .image__lettuce_description{
        font-size: 1.25em;
        margin-top: 0.25em; 
    }

    #_________________________________________________________________________

    .mayo_image {
        position: relative; /* Add this line to position the image container */
        width: 100%;
    }
    
    .image__mayo__img {
        display: block;
        width: 20%; /* Adjust the width to your desired size */
        height: auto; /* Let the height adjust proportionally to the width */
    }
    
    .image__mayo_overlay {
        position: absolute;
        top: 330%;
        left: 10%;
        transform: translate(-50%, -50%);
        width: 10%; /* Adjust the width as needed */
        height: 10%; /* Adjust the height as needed */
        background: rgba(0, 0, 0, 0); /* Adjust the alpha value for the background color */
        color: black;
        font-family: 'Times New Roman', Times, serif;
        font-size: medium;
        font-weight: bolder;
        text-decoration: underline;
        display: flex;
        text-decoration: solid;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: opacity 0.25s;
        opacity: 0; /* Start with 0 opacity to hide the overlay initially */
    }
    
    .image__mayo_title {
        font-size: larger;
        font-weight: bolder;
        color: black;
    }
    
    .image__mayo_overlay:hover {
        opacity: 1;
    }
    
    .image__mayo_description{
        font-size: 1.25em;
        margin-top: 0.25em; 
    }

    #_________________________________________________________________________

    .sourdough_image {
        position: relative; /* Add this line to position the image container */
        width: 100%;
    }
    
    .image__sourdough__img {
        display: block;
        width: 20%; /* Adjust the width to your desired size */
        height: auto; /* Let the height adjust proportionally to the width */
    }
    
    .image__sourdough_overlay {
        position: absolute;
        top: 363%;
        left: 10%;
        transform: translate(-50%, -50%);
        width: 10%; /* Adjust the width as needed */
        height: 10%; /* Adjust the height as needed */
        background: rgba(0, 0, 0, 0); /* Adjust the alpha value for the background color */
        color: white;
        font-family: 'Times New Roman', Times, serif;
        font-size: medium;
        font-weight: bolder;
        text-decoration: underline;
        display: flex;
        text-decoration: solid;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: opacity 0.25s;
        opacity: 0; /* Start with 0 opacity to hide the overlay initially */
    }
    
    .image__sourdough_title {
        font-size: larger;
        font-weight: bolder;
        color: white;
    }
    
    .image__sourdough_overlay:hover {
        opacity: 1;
    }
    
    .image__sourdough_description{
        font-size: 1.25em;
        margin-top: 0.25em; 
    }

    #_________________________________________________________________________

    .spinach_image {
        position: relative; /* Add this line to position the image container */
        width: 100%;
    }
    
    .image__spinach__img {
        display: block;
        width: 20%; /* Adjust the width to your desired size */
        height: auto; /* Let the height adjust proportionally to the width */
    }
    
    .image__spinach_overlay {
        position: absolute;
        top: 390%;
        left: 10%;
        transform: translate(-50%, -50%);
        width: 10%; /* Adjust the width as needed */
        height: 10%; /* Adjust the height as needed */
        background: rgba(0, 0, 0, 0); /* Adjust the alpha value for the background color */
        color: white;
        font-family: 'Times New Roman', Times, serif;
        font-size: medium;
        font-weight: bolder;
        text-decoration: underline;
        display: flex;
        text-decoration: solid;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: opacity 0.25s;
        opacity: 0; /* Start with 0 opacity to hide the overlay initially */
    }
    
    .image__spinach_title {
        font-size: larger;
        font-weight: bolder;
        color: white;
    }
    
    .image__spinach_overlay:hover {
        opacity: 1;
    }
    
    .image__spinach_description{
        font-size: 1.25em;
        margin-top: 0.25em; 
    }

    #_________________________________________________________________________

    .sriracha_image {
        position: relative; /* Add this line to position the image container */
        width: 100%;
    }
    
    .image__sriracha__img {
        display: block;
        width: 20%; /* Adjust the width to your desired size */
        height: auto; /* Let the height adjust proportionally to the width */
    }
    
    .image__sriracha_overlay {
        position: absolute;
        top: 417%;
        left: 6.2%;
        transform: translate(-50%, -50%);
        width: 10%; /* Adjust the width as needed */
        height: 10%; /* Adjust the height as needed */
        background: rgba(0, 0, 0, 0); /* Adjust the alpha value for the background color */
        color: black;
        font-family: 'Times New Roman', Times, serif;
        font-size: medium;
        font-weight: bolder;
        text-decoration: underline;
        display: flex;
        text-decoration: solid;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: opacity 0.25s;
        opacity: 0; /* Start with 0 opacity to hide the overlay initially */
    }
    
    .image__sriracha_title {
        font-size: larger;
        font-weight: bolder;
        color: black;
    }
    
    .image__sriracha_overlay:hover {
        opacity: 1;
    }
    
    .image__sriracha_description{
        font-size: 1.25em;
        margin-top: 0.25em; 
    }

    #_________________________________________________________________________

    .srirachaMayo_image {
        position: relative; /* Add this line to position the image container */
        width: 100%;
    }
    
    .image__srirachaMayo__img {
        display: block;
        width: 20%; /* Adjust the width to your desired size */
        height: auto; /* Let the height adjust proportionally to the width */
    }
    
    .image__srirachaMayo_overlay {
        position: absolute;
        top: 455%;
        left: 11%;
        transform: translate(-50%, -50%);
        width: 10%; /* Adjust the width as needed */
        height: 10%; /* Adjust the height as needed */
        background: rgba(0, 0, 0, 0); /* Adjust the alpha value for the background color */
        color: black;
        font-family: 'Times New Roman', Times, serif;
        font-size: medium;
        font-weight: bolder;
        text-decoration: underline;
        display: flex;
        text-decoration: solid;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: opacity 0.25s;
        opacity: 0; /* Start with 0 opacity to hide the overlay initially */
    }
    
    .image__srirachaMayo_title {
        font-size: larger;
        font-weight: bolder;
        color: black;
    }
    
    .image__srirachaMayo_overlay:hover {
        opacity: 1;
    }
    
    .image__srirachaMayo_description{
        font-size: 1.25em;
        margin-top: 0.25em; 
    }
