body {
    margin: 0;
    background: linear-gradient(to bottom, #81d4fa, #b3e0f7);  
}

header {
    background: linear-gradient(to bottom, #800080, #4B0082);
    padding: 10px;
}

.links {
    color: white;
    position: relative;
}

nav ul {
    list-style-type: none;
    padding: 0;
    width: 50%;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white; 
}

nav a:hover {
    color: lightgray;
}

nav a:active {
    color: gray;
}

.container {
    width: 80%;
    margin: auto;
}

.welcome {
    background-color: #ccc;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px black;
    text-align: center;
}

.ingredients {
    background-color: #ccc;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px black;
}

.build{
    background-color: #ccc;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px black;
}

.welcome h1{
    margin-bottom: 10px;
    color: #800080;
    font-weight: bold;
}

.ingredients h2{
    margin-bottom: 10px;
    color: #800080;
    font-weight: bold;
    text-align: left;
}

.build h2{
    margin-bottom: 10px;
    color: #800080;
    font-weight: bold;
}

.welcome p{
    font-family: 'cursive', cursive ;
    font-size: 30px;
}

.ingredients p{
    font-family: 'cursive', cursive ;
    font-size: 20px;
    display: flex;
    align-items: flex-start;
}

.build p{
    font-family: 'cursive', cursive ;
    font-size: 20px;
}

.im {
    float: right;
    margin-left: 10px;
}