/*--Main Page--*/
body {
    margin: 0;
    background: linear-gradient(to bottom, #81d4fa, #b3e0f7);  
}

.container {
    width: 80%;
    margin: auto;
}
/*--Main Page--*/

/*--Header Links--*/
header {
    background: linear-gradient(to bottom, #800080, #4B0082);
    padding: 10px;
}

.links {
    color: white;
    position: relative;
}

nav ul {
    list-style-type: none;
    padding: 0;
    width: 50%;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white; 
}

nav a:hover {
    color: lightgray;
}

nav a:active {
    color: gray;
}
/*--Header Links--*/

/*--About Us Section--*/
.welcome {
    background-color: #ccc;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px black;
    text-align: center;
}

.welcome h1{
    margin-bottom: 20px;
    color: #800080;
    font-weight: bold;
}

.welcome p{
    font-family: 'cursive', cursive ;
    font-size: 25px;
}
/*--About Us Section--*/

/*--Ingredients Section--*/
.ingredients {
    background-color: #ccc;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px black;
}

.ingredients h2{
    margin-bottom: 10px;
    color: #800080;
    font-weight: bold;
    text-align: left;
}

.ingredients p{
    font-family: 'cursive', cursive ;
    font-size: 20px;
    display: flex;
    align-items: flex-start;
}

.im {
    float: right;
    margin-left: 10px;
}
/*--Ingredients Section--*/

/*--Build Your Sandwich Section--*/
.build{
    background-color: #ccc;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px black;
}

.build h2{
    margin-bottom: 10px;
    color: #800080;
    font-weight: bold;
}

.build p{
    font-family: 'cursive', cursive ;
    font-size: 20px;
}
/*--Build Your Sandwich Section--*/

/*sandwich page*/
@media screen and (max-width: 600px){
.headerSand {
    width: 100%;
}
}
.headerSand {
    display: flex;
	/*grid-template-columns: 35% 30% 35%;
	text-align: center;*/
    width: 100%;
    align-items: center;
    justify-content: center;
}

.h1sand{
    display: flex;
    align-items: center;
    justify-content: center;
}

.chosenIng {
    float: left;
    width: 33%;
    margin-left: 2%;
}

.arrow {
    float: left;
    width: 25%;
    margin-right: 5%;
}

.finalSandwich{
    float: left;
    width: 33%;
    margin-right: 2%;
    background: #fff;
    border-radius: 6px;
    padding: 6px;
    box-shadow: 2px 2px 24px #000;
}

.resarrow {
    width: 100%;
    height: auto;
    transform: rotate(-90deg);
}

#transformedImage1 {
    width: 20%;
    height: auto;
    display: none;
}

#transformedImage2 {
    width: 100%;
    height: auto;
    display: none;
}

.ingimgs{
    width: 50%;
    height: auto;
}

#image1{
    border-radius: 25px;
}
