/*Tablet View */
@media only screen and (min-width: 481px) and (max-width: 768px){
    /*--General Page Design--*/
    body {
        margin: 0;
        background: #b3e0f7 
    }
    .container {
        width: 90%;
        margin: auto;
    }

    header {
        background: linear-gradient(to bottom, #800080, #4B0082);
        margin-bottom: 20px;
        padding: 10px;
    }

    .links {
        color: white;
        position: relative;
    }

    nav ul {
        list-style-type: none;
        padding: 0;
        width: 100%;
    }

    nav li {
        display: inline;
        margin-right: 10px;
    }

    nav a {
        text-decoration: none;
        color: white; 
    }

    nav a:hover {
        color: lightgray;
    }

    nav a:active {
        color: gray;
    }
    /*--General Page Design--*/

    /********************************* Home Page Content ********************************/

    /*--About Us Section--*/
    .welcome {
        background-color: #ccc;
        padding: 20px;
        margin-top: 20px;
        border: 1px solid #ccc;
        box-shadow: 2px 2px 5px black;
        text-align: center;
    }

    .welcome h1{
        margin-bottom: 13px;
        color: #800080;
        font-weight: bold;
        font-size: 25px;
    }

    .welcome p{
        font-family: 'cursive', cursive ;
        font-size: 20px;
    }
    /*--About Us Section--*/

    /*--Ingredients Section--*/
    .ingredients {
        background-color: #ccc;
        padding: 20px;
        margin-top: 20px;
        border: 1px solid #ccc;
        box-shadow: 2px 2px 5px black;
    }

    .ingredients h2{
        margin-bottom: 10px;
        color: #800080;
        font-weight: bold;
        text-align: left;
        font-size: 20px;
    }

    .ingredients p{
        font-family: 'cursive', cursive ;
        font-size: 15px;
        display: flex;
        align-items: flex-start;
    }

    .im {
        float: right;
        margin-left: 7px;
        width: 35%;
        height: auto;
    }
    /*--Ingredients Section--*/

    /*--Build Your Sandwich Section--*/
    .build{
        background-color: #ccc;
        padding: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        box-shadow: 2px 2px 5px black;
    }

    .build h2{
        margin-bottom: 7px;
        color: #800080;
        font-weight: bold;
        font-size: 20px;
    }

    .build p{
        font-family: 'cursive', cursive ;
        font-size: 15px;
    }
    /*--Build Your Sandwich Section--*/

    /********************************* Home Page Content ********************************/

    /******************************** Sandwich Page Content *******************************/
    .headerSand {
        display: flex;
        /*grid-template-columns: 35% 30% 35%;
        text-align: center;*/
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .h1sand{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .chosenIng {
        float: left;
        width: 33%;
        margin-left: 2%;
    }

    .arrow {
        float: left;
        width: 25%;
        margin-right: 5%;
    }

    .drop-container{
        float: left;
        width: 33%;
        margin-right: 2%;
        background: #fff;
        border-radius: 6px;
        padding: 6px;
        box-shadow: 2px 2px 24px #000;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .resarrow {
        width: 100%;
        height: auto;
        transform: rotate(-90deg);
    }

    .ingimgs{
        width: 50%;
        height: auto;
    }

    .ingAlign{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

    }

    /* Adjust styles for tablet reset button */
    .reset-button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 12px 25px; /* Adjust padding for tablet */
        font-size: 15px; /* Adjust font size for tablet */
        margin: 8px; 
    }

    .reset-button:hover {
        background-color: #45a049;
    }

    /******************************** Sandwich Page Content *******************************/

    /******************************** Ingredients Page Content ******************************/
    .imageCon {
        display: flex;
        padding: 20px;
        width: 80%;
        margin-top: 20px;
        margin: auto;
        flex-wrap: wrap;
        background-color: #ccc;
        border: 1px solid #ccc;
        box-shadow: 2px 2px 5px black;
        text-align: center;
        justify-content: space-between;
    }

    .imageCon h1{
        width: 100%;
        margin-bottom: 20px;
        color: #800080;
        font-weight: bold;
        font-size: 22px;

    }

    .imageCon p{
        font-family: 'cursive', cursive ;
        font-size: 15px;
        text-align: center;;
    }
    
    .imageCon p.desc{
        font-size: 15px;
    }

    .imageCon img {
        width: 100%; 
        height: 100%; 
    }

    figure {
        width: 150px;
        height: 150px;
        margin: auto;
        margin-right: 26px;
        margin-left: 26px;
        margin-bottom: 20px;
        float: left;
        position:relative;
    }

    .imageCon figcaption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
        padding: 10px;
        text-align: center;
        transition: opacity 0.3s ease;
        width: 150px;
        height: 150px;
    }

    .imageCon figure:hover figcaption{
        opacity: 1;
    }
    /******************************** Ingredients Page Content ******************************/
}
/* Tablet View*/